{% extends "base.html" %}
{% block content %}
<title>Timeline</title>  
<div class="col-sm-6 col-sm-offset-3">
<h1>Timeline</h1>
<p><a href="{% url 'expense:post_create' %}" class="btn btn-danger" role="button">Add Expenditure</a></p>
<p><a href="{% url 'expense:budget' %}" class="btn btn-danger" role="button">Budget</a></p>
<p><a href="{% url 'expense:analytics' %}" class="btn btn-danger" role="button">Analytics</a></p>
<br>
<form method="GET" action="">
<input type="text" name="q" placeholder=" " value="{{ request.GET.q }}"/>
<input type="submit" value="search"/>
</form>
<br>

{% for obj in object_list %}
 <div class="card" style="width: 500px">
    <div class="card-body">
      <h5 class="card-title"><a href='{{ obj.get_absolute_url }}'>{{ obj.sub_category }}</a></h5>
      <h6><br>{{ obj.spent }}</h6>
      <h6>{{ obj.timestamp|timesince }} ago</h6>
      <a class="btn btn-dark" href="{{ obj.get_absolute_url }}">View</a>
      <a class="btn btn-dark" href="{% url 'expense:post_update' id=obj.id %}">Update</a>
      <a class="btn btn-dark" href="{% url 'expense:post_delete' id=obj.id %}">Delete</a>
    </div>
 </div>
  <br>
  <br>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}=1">&laquo; first</a>
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a class="btn btn-dark" href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            <a class="btn btn-dark" href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</div>
</div>
{% endblock content %}
    